In [3]:
# pip install geopandas
import geopandas as gpd

# Read GeoJSON file into GeoDataFrame
gdf = gpd.read_file('coastline.json')

# Display GeoDataFrame
gdf

,id,f_code,acc,soc,exs,geometry
0,pg160ns0806.1,BA010,1,VNM,1,"MULTILINESTRING ((104.87929 8.38103, 104.87884..."
1,pg160ns0806.2,BA010,1,VNM,1,"MULTILINESTRING ((104.85387 8.42002, 104.85434..."
2,pg160ns0806.3,BA010,1,VNM,1,"MULTILINESTRING ((104.84051 8.43987, 104.83991..."
3,pg160ns0806.4,BA010,1,VNM,1,"MULTILINESTRING ((106.08110 8.57754, 106.08069..."
4,pg160ns0806.5,BA010,1,VNM,1,"MULTILINESTRING ((106.15006 8.60719, 106.14963..."
...,...,...,...,...,...,...
951,pg160ns0806.952,BA010,1,VNM,1,"MULTILINESTRING ((104.82164 8.73492, 104.82151..."
952,pg160ns0806.953,BA010,1,VNM,1,"MULTILINESTRING ((106.56064 9.74535, 106.56151..."
953,pg160ns0806.954,BA010,1,VNM,1,"MULTILINESTRING ((106.29050 9.57498, 106.28884..."
954,pg160ns0806.955,BA010,1,VNM,1,"MULTILINESTRING ((106.20406 9.49551, 106.20428..."
955,pg160ns0806.956,BA010,1,VNM,1,"MULTILINESTRING ((104.80937 8.72739, 104.80841..."

In [5]:
from matplotlib import pyplot as plt

In [4]:
vietnam_coastline = gdf

# Step 4: Plot the coastline for Vietnam
fig, ax = plt.subplots(figsize=(10, 5))
vietnam_coastline.plot(ax=ax, color='blue')
ax.set_title('Coastline of Vietnam')
plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.grid(True)
plt.show()

NameError: name 'plt' is not defined

In [ ]:
# for idx, row in vietnam_coastline.iterrows():
#     geom = row.geometry
#     if geom.geom_type == 'MultiLineString':
#         for line in geom:
#             print(list(line.coords))
#     elif geom.geom_type == 'LineString':
#         print(list(geom.coords))

In [ ]:
# for idx, row in vietnam_coastline.iterrows():
#     geom = row.geometry
#     if geom.geom_type == 'MultiLineString':
#         for line in geom.geoms:  # Use .geoms to iterate over MultiLineString
#             # print(list(line.coords))
#     elif geom.geom_type == 'LineString':
#         # print(list(geom.coords))

In [ ]:
import geopandas as gpd
from shapely.geometry import Point, MultiLineString, LineString
from shapely.ops import nearest_points

def shortestDistance(hotel_coord, coastline_gdf):
    # Convert to a projected coordinate system (e.g., EPSG:3395 for meter-based distances)
    coastline_gdf = coastline_gdf.to_crs(epsg=3395)
    hotel_point = Point(hotel_coord)
    hotel_point = gpd.GeoSeries([hotel_point], crs='EPSG:4326').to_crs(epsg=3395)[0]
    
    min_distance = float('inf')
    nearest_coastline_point = None
    
    for geom in coastline_gdf.geometry:
        if geom.geom_type == 'MultiLineString':
            for line in geom.geoms:
                distance = hotel_point.distance(line)
                if distance < min_distance:
                    min_distance = distance
                    nearest_point = nearest_points(hotel_point, line)[1]
        elif geom.geom_type == 'LineString':
            distance = hotel_point.distance(geom)
            if distance < min_distance:
                min_distance = distance
                nearest_point = nearest_points(hotel_point, geom)[1]
    
    # Convert distance to kilometers
    min_distance_km = min_distance / 1000
    
    return round(min_distance_km, 2), nearest_point

coastline_gdf = gdf

# Coordinates of the hotel (example: Hanoi)
hotel_coord = (109.196066,12.249085)  # (longitude, latitude)
# 109.196066,12.249085 Yasaka
distance, nearest_point = calculate_shortest_distance(hotel_coord, coastline_gdf)

print(f"The shortest distance to the coastline is {distance} km.")
print(f"The nearest point on the coastline is at {nearest_point}.")

In [5]:
import pandas as pd

df = pd.read_csv('city.csv')
df.head(2)

C:\Users\darkn\AppData\Local\Temp\ipykernel_5460\3925460249.py:3: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('city.csv')

,hotel_id,chain_id,chain_name,brand_id,brand_name,hotel_name,hotel_formerly_name,hotel_translated_name,addressline1,addressline2,...,rates_from,continent_id,continent_name,city_id,country_id,number_of_reviews,rating_average,rates_currency,rates_from_exclusive,accommodation_type
0,163,0,No chain,0,NaN,Ramana Saigon Hotel,Amara Hotel,Ramana Saigon Hotel,"323 Le Van Sy Street, District 3",NaN,...,NaN,2,Asia,13170,38,1713,8.1,USD,NaN,Hotel
1,902,0,No chain,0,NaN,Lotte Hotel Saigon,Legend Hotel Saigon,Lotte Hotel Saigon,"2A-4A Ton Duc Thang Street, District 1",NaN,...,NaN,2,Asia,13170,38,6260,9.0,USD,NaN,Hotel

In [6]:
coordinate = df[['hotel_id','longitude','latitude']]
coordinate

       hotel_id   longitude   latitude
0           163  106.678101  10.787597
1           902  106.706797  10.778689
2          2019  108.369757  15.895125
3          3274  106.668122  10.799623
4          9195  106.706283  10.774478
...         ...         ...        ...
29441  52541920  108.039314  10.860923
29442  52541929  105.900000  19.733330
29443  52543438  105.852863  21.036617
29444  52544248  109.277206  13.775334
29445  52544878  105.781660  21.019848

[29446 rows x 3 columns]

In [12]:
coordinate.to_csv('coordinate.csv', index=False)

In [13]:
coordinate = pd.read_csv('coordinate.csv')
coordinate.head(2)

   hotel_id   longitude   latitude
0       163  106.678101  10.787597
1       902  106.706797  10.778689

In [14]:
sample = coordinate[:10]
sample

   hotel_id   longitude   latitude
0       163  106.678101  10.787597
1       902  106.706797  10.778689
2      2019  108.369757  15.895125
3      3274  106.668122  10.799623
4      9195  106.706283  10.774478
5      9698  108.437042  11.942183
6     10943  105.788850  10.034633
7     10944  105.786925  10.032614
8     10945  105.793319  10.039260
9     10947  105.124220  10.708119

In [17]:
import geopandas as gpd
from shapely.geometry import Point, MultiLineString, LineString
from shapely.ops import nearest_points

def shortestDistance(hotel_point):
    global coastline_gdf
    # Convert to a projected coordinate system (e.g., EPSG:3395 for meter-based distances)
    coastline_gdf = coastline_gdf.to_crs(epsg=3395)
    # hotel_point = Point(hotel_coord)
    hotel_point = gpd.GeoSeries([hotel_point], crs='EPSG:4326').to_crs(epsg=3395)[0]
    
    min_distance = float('inf')
    nearest_coastline_point = None
    
    for geom in coastline_gdf.geometry:
        if geom.geom_type == 'MultiLineString':
            for line in geom.geoms:
                distance = hotel_point.distance(line)
                if distance < min_distance:
                    min_distance = distance
                    nearest_point = nearest_points(hotel_point, line)[1]
        elif geom.geom_type == 'LineString':
            distance = hotel_point.distance(geom)
            if distance < min_distance:
                min_distance = distance
                nearest_point = nearest_points(hotel_point, geom)[1]
    
    # Convert distance to kilometers
    min_distance_km = min_distance / 1000
    
    return round(min_distance_km, 3), nearest_point

# coastline_gdf = gdf

# # Coordinates of the hotel (example: Hanoi)
# hotel_coord = (106.678101,10.787597)  # (longitude, latitude)
# # 109.196066,12.249085 Yasaka
# distance, nearest_point = shortestDistance(hotel_coord, coastline_gdf)

# print(f"The shortest distance to the coastline is {distance} km.")
# print(f"The nearest point on the coastline is at {nearest_point}.")

In [11]:
# sample['nearest_point','min_distance_km'] = sample[['longitude','latitude']].apply(shortestDistance)

In [99]:
# sample[['min_distance_km', 'nearest_point']] = sample.apply(shortest_distance, axis=1, coastline_gdf=coastline_gdf, result_type="expand")

In [100]:
# def shortest_distance(row):
#     global coastline_gdf
#     hotel_point = Point(row['longitude'], row['latitude'])
#     hotel_point = gpd.GeoSeries([hotel_point], crs='EPSG:4326').to_crs(epsg=3395)[0]
    
#     min_distance = float('inf')
#     nearest_coastline_point = None
    
#     for geom in coastline_gdf.geometry:
#         if geom.geom_type == 'MultiLineString':
#             for line in geom.geoms:
#                 distance = hotel_point.distance(line)
#                 if distance < min_distance:
#                     min_distance = distance
#                     nearest_point = nearest_points(hotel_point, line)[1]
#         elif geom.geom_type == 'LineString':
#             distance = hotel_point.distance(geom)
#             if distance < min_distance:
#                 min_distance = distance
#                 nearest_point = nearest_points(hotel_point, geom)[1]
    
#     min_distance_km = min_distance / 1000
    
#     return round(min_distance_km, 3), nearest_point

C:\Users\darkn\AppData\Local\Temp\ipykernel_11328\1281543628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['hotel_coordinate'] = sample.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)

In [18]:
# Sample DataFrame with hotel coordinates

# Apply the shortest_distance function to each row in the DataFrame
def distance2coast(sample):
    sample['hotel_coordinate'] = sample.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
    # shortestDistance(hotel_point = sample.hotel_coordinate[0])
    sample[['distance2coastline', 'nearest_coordinate']] = [shortestDistance(hotel_point = each) for each in sample.hotel_coordinate]
    return sample
# print(sample)

In [21]:
new_df = distance2coast(coordinate)
new_df.tail()

,hotel_id,longitude,latitude,hotel_coordinate,distance2coastline,nearest_coordinate
29441,52541920,108.039314,10.860923,POINT (108.039314 10.860923),0.957,POINT (12027748.717115507 1207887.9327760863)
29442,52541929,105.900000,19.733330,POINT (105.9 19.73333),0.074,POINT (11788666.04260368 2227075.047920817)
29443,52543438,105.852863,21.036617,POINT (105.852863 21.036617),98.047,POINT (11863582.1669734 2324363.943688811)
29444,52544248,109.277206,13.775334,POINT (109.277206 13.775334),1.378,POINT (12164675.673653638 1536907.1997495964)
29445,52544878,105.781660,21.019848,POINT (105.78166 21.019848),103.561,POINT (11863582.1669734 2324363.943688811)

In [22]:
new_df.to_csv('distance2coast.csv', index=False)

In [ ]:
df_second_onwards =